name: Approve Dependabot's PR
on:
  pull_request:
    types: [opened]

permissions: {}

concurrency:
  group: dependabot

jobs:
  dependabot:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          disable-sudo: true
          egress-policy: "audit"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          license-check: true
          vulnerability-check: true
          fail-on-severity: "low"

      - name: Fetch Dependabot metadata
        uses: dependabot/fetch-metadata@v2
        with:
          alert-lookup: true
          compat-lookup: true
          github-token: ${{ github.token }}

      - name: Label PR
        uses: actions/labeler@v6
        with:
          repo-token: ${{ github.token }}

      - name: Approve PR
        uses: fastify/github-action-merge-dependabot@main
        with:
          approve-only: true
          merge-comment: "I'm **approving** this PR because **it includes dependency update**"
